<h2>Patient Profile edit page</h2>

<div class="form-group">
  <label for="sel1">Select Patient From List:</label>
  <select class="js-form-control" id="sel1">
    <% @all_users.each do |user| %>
    <option class="js-patient-list" data-id="<%=user.id%>"><%=user.name%></option>
    <% end %>
  </select>
</div>

<h3>Demographics/Basic Medical Information</h3>

<div class="basic_info">
  <div class="dropdown">
    <button class="dropbtn js-dropbtn" data-id="js-dropdown-2">Sex</button>
    <div class="dropdown-content js-dropdown-2"> 
      <a href="#" class="js-option" data-index="1" data-attr-name="SEX" data-value="1" data-diag-desc="Female">Female</a>
      <a href="#" class="js-option" data-index="1" data-attr-name="SEX" data-value="0" data-diag-desc="Male">Male</a>
      <a href="#" class="js-option" data-index="1" data-attr-name="SEX" data-value="-1" data-diag-desc="N/A">N/A</a>
    </div>
  </div>

  <div class="dropdown">
    <button class="dropbtn js-dropbtn" data-id="js-dropdown-3">Age</button>
    <div class="dropdown-content js-dropdown-3">
      <a href="#" class="js-option" data-index="2" data-attr-name="AGE" data-value="0" data-diag-desc="<20"> <20 </a>
      <a href="#" class="js-option" data-index="2" data-attr-name="AGE" data-value="1" data-diag-desc="21-35"> 21-35 </a>
      <a href="#" class="js-option" data-index="2" data-attr-name="AGE" data-value="2" data-diag-desc="36-50"> 36-50 </a>
      <a href="#" class="js-option" data-index="2" data-attr-name="AGE" data-value="3" data-diag-desc="51-65"> 51-65 </a>
      <a href="#" class="js-option" data-index="2" data-attr-name="AGE" data-value="4" data-diag-desc="66+"> 66+ </a>
      <a href="#" class="js-option" data-index="2" data-attr-name="AGE" data-value="-1" data-diag-desc="N/A">N/A</a>
    </div>
  </div>

  <div class="dropdown">
    <button class="dropbtn js-dropbtn" data-id="js-dropdown-5"> Atrial fibrillation </button>
    <div class="dropdown-content js-dropdown-5">
      <a href="#" class="js-option" data-index="4" data-attr-name="RATRIAL" data-value="1" data-diag-desc="Y"> Y </a>
      <a href="#" class="js-option" data-index="4" data-attr-name="RATRIAL" data-value="0" data-diag-desc="N"> N </a>
      <a href="#" class="js-option" data-index="4" data-attr-name="RATRIAL" data-value="-1" data-diag-desc="N/A"> N/A </a>
    </div>
  </div>

  <div class="dropdown">
    <button class="dropbtn js-dropbtn" data-id="js-dropdown-7"> Systolic Blood Pressure (bpm) </button>
    <div class="dropdown-content js-dropdown-7">
      <a href="#" class="js-option" data-index="6" data-attr-name="BP" data-value="0" data-diag-desc=">120"> >120 </a>
      <a href="#" class="js-option" data-index="6" data-attr-name="BP" data-value="1" data-diag-desc="121-134"> 121-134 </a>
      <a href="#" class="js-option" data-index="6" data-attr-name="BP" data-value="2" data-diag-desc="135-148"> 135-148 </a>
      <a href="#" class="js-option" data-index="6" data-attr-name="BP" data-value="3" data-diag-desc="149-162"> 149-162 </a>
      <a href="#" class="js-option" data-index="6" data-attr-name="BP" data-value="4" data-diag-desc="163-176"> 163-176 </a>
      <a href="#" class="js-option" data-index="6" data-attr-name="BP" data-value="5" data-diag-desc="177+"> 177+ </a>
      <a href="#" class="js-option" data-index="6" data-attr-name="BP" data-value="-1" data-diag-desc="N/A"> N/A </a>
    </div>
  </div>
</div>




<h3>Medical Conditions</h3>

<div class="med_cond">
  <div class="dropdown">
  <button class="dropbtn js-dropbtn" data-id="js-dropdown-1">Conscious state</button>
  <div class="dropdown-content js-dropdown-1"> 
    <a href="#" class="js-option" data-index="0" data-attr-name="RC" data-value="2" data-diag-desc="Fully Alert">Fully Alert</a>
    <a href="#" class="js-option" data-index="0" data-attr-name="RC" data-value="1" data-diag-desc="Drowsy">Drowsy</a>
    <a href="#" class="js-option" data-index="0" data-attr-name="RC" data-value="0" data-diag-desc="Unconscious">Unconscious</a>
    <a href="#" class="js-option" data-index="0" data-attr-name="RC" data-value="-1" data-diag-desc="N/A">N/A</a>
  </div>
</div>

  <div class="dropdown">
    <button class="dropbtn js-dropbtn" data-id="js-dropdown-4"> Symptoms noted on waking </button>
    <div class="dropdown-content js-dropdown-4">
      <a href="#" class="js-option" data-index="3" data-attr-name="RS" data-value="1" data-diag-desc="Y"> Y </a>
      <a href="#" class="js-option" data-index="3" data-attr-name="RS" data-value="0" data-diag-desc="N"> N </a>
      <a href="#" class="js-option" data-index="3" data-attr-name="RS" data-value="-1" data-diag-desc="N/A"> N/A </a>
    </div>
  </div>

  <div class="dropdown">
    <button class="dropbtn js-dropbtn" data-id="js-dropdown-6"> Infarct visible on CT </button>
    <div class="dropdown-content js-dropdown-6">
      <a href="#" class="js-option" data-index="5" data-attr-name="RV" data-value="1" data-diag-desc="Y"> Y </a>
      <a href="#" class="js-option" data-index="5" data-attr-name="RV" data-value="0" data-diag-desc="N"> N </a>
      <a href="#" class="js-option" data-index="5" data-attr-name="RV" data-value="-1" data-diag-desc="N/A"> N/A </a>
    </div>
  </div>

  <div class="dropdown">
    <button class="dropbtn js-dropbtn" data-id="js-dropdown-8"> Face deficit </button>
    <div class="dropdown-content js-dropdown-8">
      <a href="#" class="js-option" data-index="7" data-attr-name="RDEF1" data-value="1" data-diag-desc="Y"> Y </a>
      <a href="#" class="js-option" data-index="7" data-attr-name="RDEF1" data-value="0" data-diag-desc="N"> N </a>
      <a href="#" class="js-option" data-index="7" data-attr-name="RDEF1" data-value="2" data-diag-desc="Can't Assess"> Can't Assess </a>
    </div>
  </div>

  <div class="dropdown">
    <button class="dropbtn js-dropbtn" data-id="js-dropdown-9"> Arm/hand deficit </button>
    <div class="dropdown-content js-dropdown-9">
      <a href="#" class="js-option" data-index="8" data-attr-name="RDEF2" data-value="1" data-diag-desc="Y"> Y </a>
      <a href="#" class="js-option" data-index="8" data-attr-name="RDEF2" data-value="0" data-diag-desc="N"> N </a>
      <a href="#" class="js-option" data-index="8" data-attr-name="RDEF2" data-value="2" data-diag-desc="Can't Assess"> Can't Assess </a>
    </div>
  </div>

  <div class="dropdown">
    <button class="dropbtn js-dropbtn" data-id="js-dropdown-10"> Leg/foot deficit </button>
    <div class="dropdown-content js-dropdown-10">
      <a href="#" class="js-option" data-index="9" data-attr-name="RDEF3" data-value="1" data-diag-desc="Y"> Y </a>
      <a href="#" class="js-option" data-index="9" data-attr-name="RDEF3" data-value="0" data-diag-desc="N"> N </a>
      <a href="#" class="js-option" data-index="9" data-attr-name="RDEF3" data-value="2" data-diag-desc="Can't Assess"> Can't Assess </a>
    </div>
  </div>

  <div class="dropdown">
    <button class="dropbtn js-dropbtn" data-id="js-dropdown-11"> Dysphasia </button>
    <div class="dropdown-content js-dropdown-11">
      <a href="#" class="js-option" data-index="10" data-attr-name="RDEF4" data-value="1" data-diag-desc="Y"> Y </a>
      <a href="#" class="js-option" data-index="10" data-attr-name="RDEF4" data-value="0" data-diag-desc="N"> N </a>
      <a href="#" class="js-option" data-index="10" data-attr-name="RDEF4" data-value="2" data-diag-desc="Can't Assess"> Can't Assess </a>
    </div>
  </div>

  <div class="dropdown">
    <button class="dropbtn js-dropbtn" data-id="js-dropdown-12"> Hemianopia </button>
    <div class="dropdown-content js-dropdown-12">
      <a href="#" class="js-option" data-index="11" data-attr-name="RDEF5" data-value="1" data-diag-desc="Y"> Y </a>
      <a href="#" class="js-option" data-index="11" data-attr-name="RDEF5" data-value="0" data-diag-desc="N"> N </a>
      <a href="#" class="js-option" data-index="11" data-attr-name="RDEF5" data-value="2" data-diag-desc="Can't Assess"> Can't Assess </a>
    </div>
  </div>

  <div class="dropdown">
    <button class="dropbtn js-dropbtn" data-id="js-dropdown-13"> Visuospatial Disorder </button>
    <div class="dropdown-content js-dropdown-13">
      <a href="#" class="js-option" data-index="12" data-attr-name="RDEF6" data-value="1" data-diag-desc="Y"> Y </a>
      <a href="#" class="js-option" data-index="12" data-attr-name="RDEF6" data-value="0" data-diag-desc="N"> N </a>
      <a href="#" class="js-option" data-index="12" data-attr-name="RDEF6" data-value="2" data-diag-desc="Can't Assess"> Can't Assess </a>
    </div>
  </div>

  <div class="dropdown">
    <button class="dropbtn js-dropbtn" data-id="js-dropdown-14"> Brainstem/cerebellar signs </button>
    <div class="dropdown-content js-dropdown-14">
      <a href="#" class="js-option" data-index="13" data-attr-name="RDEF7" data-value="1" data-diag-desc="Y"> Y </a>
      <a href="#" class="js-option" data-index="13" data-attr-name="RDEF7" data-value="0" data-diag-desc="N"> N </a>
      <a href="#" class="js-option" data-index="13" data-attr-name="RDEF7" data-value="2" data-diag-desc="Can't Assess"> Can't Assess </a>
    </div>
  </div>

  <div class="dropdown">
    <button class="dropbtn js-dropbtn" data-id="js-dropdown-15"> Other deficit </button>
    <div class="dropdown-content js-dropdown-15">
      <a href="#" class="js-option" data-index="14" data-attr-name="RDEF8" data-value="1" data-diag-desc="Y"> Y </a>
      <a href="#" class="js-option" data-index="14" data-attr-name="RDEF8" data-value="0" data-diag-desc="N"> N </a>
      <a href="#" class="js-option" data-index="14" data-attr-name="RDEF8" data-value="2" data-diag-desc="Can't Assess"> Can't Assess </a>
    </div>
  </div>
</div>

<h3>****Warning: All fields must be completed in order to work; put Not Applicable (N/A) if needed*******</h3>

<p>View Profile for Patient</p>



