<h2>Patient Profile edit page</h2>

<div class="dropdown">
  <button class="dropbtn js-dropbtn" data-id="js-dropdown-1">Sex</button>
  <select class="dropdown-content js-dropdown-1"> Sex
	  <option value="volvo">Volvo</option>
	  <option value="saab">Saab</option>
	  <option value="mercedes">Mercedes</option>
	  <option value="audi">Audi</option>
  </select>
</div>

<div class="dropdown">
  <button class="dropbtn js-dropbtn" data-id="js-dropdown-2">Age</button>
  <div class="dropdown-content js-dropdown-2">
    <a href="#" class="js-option" data-attr-name="age" data-value="35-45">35-45</a>
    <a href="#">Link 5</a>
    <a href="#">Link 6</a>
  </div>
</div>

<div class="dropdown">
  <button class="dropbtn js-dropbtn" data-id="js-dropdown-3">Blood Pressure</button>
  <div class="dropdown-content js-dropdown-3">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
  </div>
</div>

<div class="dropdown">
  <button class="dropbtn js-dropbtn" data-id="js-dropdown-4">Stroke Subtype</button>
  <div class="dropdown-content js-dropdown-4">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
  </div>
</div>