<% if current_user.role == "admin" %>
	<h2>Profile for <%= @user.name %></h2>

	<div>
	<%= link_to 'Check Health Record',"/users/#{current_user.id}/health_record"%>
	</div>

<% elsif current_user %>
	<p>Choose desired health record</p>
	<ul>
	<li><%= link_to 'Stroke',"/users/#{current_user.id}/files/1"%></li>
	</ul>
	<p></p>

<% else %>
	<h2>You don't have permission to view this page</h2>
<% end %>

	<div>
	<%= link_to 'Log out', destroy_user_session_path, method: 'delete' %>
	</div>    
