<h1>Medical Decision Page</h1>


<h2>Possible Actions</h2>
<div class="check_listA"></div>

<canvas id="myPieChart" data-id="<%= params[:files_id] %>" width="300" height="300"></canvas>

<div class="check_listB"></div>

<div class="js-chart-container" data-patient-id="<%= params[:id]%>" data-id="<%= @file_id %>"></div>

<div class="js-med-chart-container" data-id="<%= params[:files_id] %>"></div>


<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<script>
</script>