<h1>Medical Decision Page</h1>

<div class="check_list"></div>

<canvas id="myPieChart" data-id="<%= params[:files_id] %>" width="300" height="200"></canvas>
<canvas id="myChart" data-id="<%= params[:files_id] %>" width="300" height="200"></canvas>

<script>
</script>